.button {
    /* background-color: #04AA6D; Green */
    
    border: solid black;
    color: white;
    padding: 15px 32px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* height: 2em;
    width: 2em; */
    /* border-radius: 50%; */
  }

  .button1 {background-color: #04AA6D;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */
  .button5 {background-color: #555555;} /* Black */

  #displayTimer{
    color: black;
    font-size: 2em;
    font-weight: 100;
    
  }

  #ms{
    color: black;
    font-size: 0.5em;
    /* font-weight: 100; */
  }

  .wrapper{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid black; */
    /* border-radius: 50%; */

  }